body{
    background: gainsboro;
}

.full-body-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    --linkedInBlue:#0a66c2;
    flex-direction: column;
    background: gainsboro;
    --fadeInDelayOffset:0.2s;
    --fadeInInitialOffset:-50px;
    font-family:sans-serif;
    /* background: linear-gradient(5deg, #0a66c2, #9eceff); */
}
@keyframes fadeIn {
    0%{
        transform:translateY(var(--fadeInInitialOffset));
        opacity:0;
    }
    100%{
        transform:translateY(0px);
        opacity:1;
    }
}

.fadeIn{
    opacity:0;
    transform:translateY(var(--fadeInInitialOffset));
    animation:fadeIn 0.5s ease forwards;
}

/* Apply different delays based on order */
.full-body-container .fadeIn:nth-child(1) {
    animation-delay: calc(var(--fadeInDelayOffset)); /* Delay for first element */
}

.full-body-container .fadeIn:nth-child(2) {
    animation-delay: calc(var(--fadeInDelayOffset) * 2); /* Delay for second element */
}
.full-body-container .fadeIn:nth-child(3) {
    animation-delay: calc(var(--fadeInDelayOffset) * 3); /* Delay for second element */
}
.full-body-container .fadeIn:nth-child(4) {
    animation-delay: calc(var(--fadeInDelayOffset) * 4); /* Delay for second element */
}
.full-body-container .fadeIn:nth-child(5) {
    animation-delay: calc(var(--fadeInDelayOffset) * 5); /* Delay for second element */
}
.full-body-container .fadeIn:nth-child(6) {
    animation-delay: calc(var(--fadeInDelayOffset) * 6); /* Delay for second element */
}

.pathFinderTitle{
    display: flex;
    position:relative;
    align-items: center;
    font-size: 48px;
    --logoSize: 88px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(5deg, #000000, var(--linkedInBlue));
    height: 100px;
    color: white;
    /* border-radius: 10px; */
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 23px;
}
.pathFinderTitle img{
    object-fit: contain;
    height: var(--logoSize);
}


.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border: 1px solid black;
    display: flex;
    align-items: center;
    background:white;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 90px;
}

.input-box.description{
    height: 200px;
    align-items: start;
    border-radius: 14px;
}

.input-box img{
    height: 20px;
    width:20px;
}

/* Form styling section */
    .main_display_container .input_form {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    justify-content: space-around;
    position: relative;
    --lhsWidth: 63%;
    --flexGap: 40px;
    gap: var(--flexGap);
    --rhsWidth: 37%;
    padding-left: var(--outerPadding);
    display: flex;
    --outerPadding: 31px;
    padding-right: var(--outerPadding);
    box-sizing: border-box;
}

.subtitleText{
    position: absolute;
    right: 20px;
    font-size: 12px;
    bottom: 12px;
}


.form_column.lhs{
    width: calc(var(--lhsWidth) - var(--flexGap));
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.form_column.rhs{
    width: calc(var(--rhsWidth) - var(--flexGap));
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.main_display_container{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;
    --topMargin: 60px;
    margin-top: var(--topMargin);
    position: relative;
    height:calc(100vh - (var(--topMargin) * 2));
    min-height:calc(100vh - (var(--topMargin) * 2));
    /* padding: 20px; */
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: white;
    align-items: center;
    /* border: solid 2px var(--linkedInBlue);*/
}

.searchBtn{
    position: absolute;
    width: 45%;
    bottom: 28px;
    cursor:pointer;
    height: 45px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 6px;
    border: none;
    color: white;
    background: var(--linkedInBlue);
    font-weight: 500;
    transition:all 0.5s ease;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top: 50px;
    padding-bottom: 25px;
}

.payRange .slider{
    margin-right: 33px;
}

#map{
    position: relative;
    overflow: hidden;
    height: 200px;
    width: 500px;
}

.episode-title{
    font-family: 'Kanit', sans-serif;
}

.episode-desc{
    font-family: 'Montserrat', sans-serif;
}