<!doctype html>
<title>PathFinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="main_display_container">
            <div class="pathFinderTitle">
                <img src="{{ url_for('static', filename='images/PathFinderLogo.png') }}" />
                <div class="subtitleText">
                    Helping professionals find their path was a purpose
                </div>
            </div>
        <div class="formAndSearchContainer">
            <form class="input_form_container">
                <div class="input_form">
                    <div class="lhs form_column">
                        <!-- <div class="input-box jobTitle fadeIn" >
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter Job Title" id="jobTitle" >
                        </div> -->
                        <div class="input-box jobDescription description fadeIn" id="personalValues_inputBox">
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter Career/Personal Values" id="personalValues"  >
                        </div>
                        
                       
                    </div>
                    <div class="rhs form_column">
                     
                        <div class="input-box companyDescription description fadeIn" id="personalSkills_inputBox">
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter Personal Skills/Experience" id="personalSkills" >
                        </div>
                        
                        
    
                        <!-- <div class="citySelectContainer fadeIn">
                            <div>
                                <h4>Please Choose a City</h4>
                            </div>
                        
                            <fieldset class="citySelect ">
                                <label>
                                Cities
                                </label>
                                <select id="myCity" name="myCity">
                                    <option value="None">Select a City</option>
                                    <option value="PHI">Philadelphia, PA</option>
                                    <option value="NYC">New York, PA</option>
                                    <option value="TMP">Tampa, FL</option>
                                    <option value="HAR">Hartford, CT</option>
                                    
                                </select>
                            </fieldset>
                        </div> -->
    <!-- 
                        <div class="input-box experienceAndSkills description fadeIn" >
                            <input placeholder="Experience and Skills" id="userExperienceAndSkills" >
                        </div> -->
                         
                        
                    </div>
                </div>
           
                        
                        
                        <!-- <div id="map"></div> -->
                <!-- <div class="salaryRangeContainer fadeIn">
                            <h4>What is your ideal salary?</h4>
                            <div class="input-box payRange ">
                                <input class="slider" value="250000" id="salaryRange" oninput="this.nextElementSibling.value = `${'$'+this.value}`" min="10000" max="1000000" type="range" id="filter-text-val" >
                                <output>$250000</output>
    
                            </div>
                </div> -->
            
            </form>
        <div class="examplesContainer fadeIn">
            <div class="example one fadeIn">

            </div>
            <div class="example two fadeIn"></div>
            <div class="example three fadeIn"></div>
        </div>
  
        <button class="searchBtn fadeIn" id="searchButton">
            Search
        </button>
        </div>
           
     
           
        </div>
        <div id="answer-box">

        </div>
    </div>
    <script>    
    formFieldValues = {}
    
        // Function to check if all fields are filled. Also updates the form field values
            function checkAndPopulateFields() {
                let personalValues = document.getElementById("personalValues").value.trim();
                let personalSkills = document.getElementById("personalSkills").value.trim();

                
                 // Populate formFieldValues object with field values
                formFieldValues.personalValues = personalValues;
                formFieldValues.personalSkills = personalSkills;
                
                // Check if any field is empty
                if (personalValues === "" || personalSkills === "") {
                    return false;
                } else {
                    return true;
                }
            }

            // Function to update button color
            function updateButtonColor() {
                let searchButton = document.getElementById("searchButton");

                if (checkAndPopulateFields()) {
                    // All fields are filled, change button color
                    searchButton.style.backgroundColor = "var(--linkedInBlue)";
                } else {
                    // At least one field is empty, reset button color
                    searchButton.style.backgroundColor = "gray";
                }
            }

            // Call updateButtonColor() on input change
            document.addEventListener("input", updateButtonColor);

            // Initial call to set button color on page load
            updateButtonColor();

            // // Function to update output value for salary range
            // function updateOutputValue(value) {
            //     document.getElementById("salaryOutput").textContent = "$" + value;
            // }
       
        function answerBoxTemplate(title,industry,titleDesc,rating){
            return `<div class='answer_resp'>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
                <p class='episode-rating'>IMDB Rating: ${rating}</p>
            </div>`
        }

    
        
        /**
         * industry: string, industryNum: number, color:string
         */
        industryConfig=[]

        function searchJobs(){
            console.log("SEARCHING JOBS")
            document.getElementById("answer-box").innerHTML = ""
            fetch("/episodes?" + new URLSearchParams({ title: formFieldValues.personalSkills }).toString())
            .then((response) => response.json())
            .then((data) => {
                console.log(data);
                const uniqueIndustries = new Set();
                industryColors=[]
                let prevColor = ''
                data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.classList.add('fadeIn')
                tempDiv.classList.add('indvRsltContainer')
                
                if(uniqueIndustries.has(row.industry)){

                } else{
                    console.log("GEN CONTAINER DIV", row)

                    let col = `var(--col_${Math.floor(Math.random() * 4) + 1})`;
                    while (col==prevColor){
                        console.log("EQUALS PREV COLOR")
                        col = `var(--col_${Math.floor(Math.random() * 4) + 1})`;
                    }
                    prevColor=col;
                    industryColors.push({industry: row.industry, industryNum: industryColors.length+1, color:col})
                    uniqueIndustries.add(row.industry)
                    let containerDiv = document.createElement("div")
                    containerDiv.classList.add('fadeIn')
                    containerDiv.classList.add('industryRsltContainer')
                    containerDiv.id=row.industry
                    
                    containerDiv.style='--color:'+col
                    document.getElementById("answer-box").appendChild(containerDiv)

                    let industryTitleContainer = document.createElement("div")
                    industryTitleContainer.classList.add('industryTitle')
                    industryTitleContainer.innerHTML='<div class="industryPathTitle">Matched Industry Path: </div>'+row.industry
                    document.getElementById(row.industry).appendChild(industryTitleContainer)
                    

                }
                
                
                tempDiv.innerHTML = answerBoxTemplate(row.title,row.industry,row.descr,row.imdb_rating)
                document.getElementById(row.industry).appendChild(tempDiv)
            })
                if(!data || data.length==0){
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = 'No Results Found'
                    document.getElementById("answer-box").appendChild(tempDiv)

                }
                document.getElementById("answer-box").scrollIntoView({behavior:"smooth"})
            }
            );

        }

          // Function to check fields and filter text
          function checkAndSearch() {
            if (checkAndPopulateFields()) {
                searchJobs();
            } else {
                // Handle case where fields are not filled
                console.log("Please fill out all fields before searching.");
            }
        }

        function focusInput(inputToFocus){
            console.log("FOCUSED")
            document.getElementById(inputToFocus).focus();
        }

        // Add click event listener to the search button
        document.getElementById("searchButton").addEventListener("click", checkAndSearch);


      // Use anonymous function to delay execution of focusInput
        document.getElementById("personalValues_inputBox").addEventListener("click", function() {
            focusInput('personalValues');
        });

        document.getElementById("personalSkills_inputBox").addEventListener("click", function() {
            focusInput('personalSkills');
        });

        
            
    </script>
</body>