<!doctype html>
<title>PathFinder</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="main_display_container">
            <div class="pathFinderTitle">
                <img src="{{ url_for('static', filename='images/PathFinderLogo.png') }}" />
                <div class="subtitleText">
                    Helping professionals find their path with a purpose
                </div>
            </div>
            <div class="formAndSearchContainer">
                <form class="input_form_container">
                    <div class="input_form">
                        <div class="lhs form_column">
                            <!-- <div class="input-box jobTitle fadeIn" >
                            <img src="{{ url_for('static', filename='images/mag.png') }}" />
                            <input placeholder="Enter Job Title" id="jobTitle" >
                        </div> -->
                            <div class="input-box jobDescription description fadeIn" id="personalValues_inputBox">
                                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                                <input placeholder="Enter Career/Personal Values" id="personalValues">
                            </div>


                        </div>
                        <div class="rhs form_column">

                            <div class="input-box companyDescription description fadeIn" id="personalSkills_inputBox">
                                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                                <input placeholder="Enter Personal Skills/Experience" id="personalSkills">
                            </div>



                            <!-- <div class="citySelectContainer fadeIn">
                            <div>
                                <h4>Please Choose a City</h4>
                            </div>
                        
                            <fieldset class="citySelect ">
                                <label>
                                Cities
                                </label>
                                <select id="myCity" name="myCity">
                                    <option value="None">Select a City</option>
                                    <option value="PHI">Philadelphia, PA</option>
                                    <option value="NYC">New York, PA</option>
                                    <option value="TMP">Tampa, FL</option>
                                    <option value="HAR">Hartford, CT</option>
                                    
                                </select>
                            </fieldset>
                        </div> -->
                            <!-- 
                        <div class="input-box experienceAndSkills description fadeIn" >
                            <input placeholder="Experience and Skills" id="userExperienceAndSkills" >
                        </div> -->


                        </div>
                    </div>



                    <!-- <div id="map"></div> -->
                    <!-- <div class="salaryRangeContainer fadeIn">
                            <h4>What is your ideal salary?</h4>
                            <div class="input-box payRange ">
                                <input class="slider" value="250000" id="salaryRange" oninput="this.nextElementSibling.value = `${'$'+this.value}`" min="10000" max="1000000" type="range" id="filter-text-val" >
                                <output>$250000</output>
    
                            </div>
                </div> -->

                </form>
                <div class="examplesContainer fadeIn">
                    <div class="example one fadeIn">

                    </div>
                    <div class="example two fadeIn"></div>
                    <div class="example three fadeIn"></div>
                </div>

                <button class="searchBtn fadeIn" id="searchButton">
                    Search
                </button>
            </div>



        </div>
        <div id="answer-box">

        </div>
    </div>
    <script>
        formFieldValues = {}

        // Function to check if all fields are filled. Also updates the form field values
        function checkAndPopulateFields() {
            let personalValues = document.getElementById("personalValues").value.trim();
            let personalSkills = document.getElementById("personalSkills").value.trim();


            // Populate formFieldValues object with field values
            formFieldValues.personalValues = personalValues;
            formFieldValues.personalSkills = personalSkills;

            // Check if any field is empty
            if (personalValues === "" || personalSkills === "") {
                return false;
            } else {
                return true;
            }
        }

        // Function to update button color
        function updateButtonColor() {
            let searchButton = document.getElementById("searchButton");

            if (checkAndPopulateFields()) {
                // All fields are filled, change button color
                searchButton.style.backgroundColor = "var(--linkedInBlue)";
            } else {
                // At least one field is empty, reset button color
                searchButton.style.backgroundColor = "gray";
            }
        }

        // Call updateButtonColor() on input change
        document.addEventListener("input", updateButtonColor);

        // Initial call to set button color on page load
        updateButtonColor();

        // // Function to update output value for salary range
        // function updateOutputValue(value) {
        //     document.getElementById("salaryOutput").textContent = "$" + value;
        // }

        function answerBoxTemplate(title, industry, titleDesc, rating) {
            return `<div class='answer_resp'>
                <h3 class='episode-title'>${title}</h3>
                <p class='episode-desc'>${titleDesc}</p>
            </div>`
        }



        /**
         * industry: string, industryNum: number, color:string
         */
        industryConfig = []


        // Fisher-Yates (Knuth) Shuffle Algorithm
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
            return array;
        }

        function setupResultsDisplay(data) {
            const insertSVDResults = () => {
                let svd_containerDiv = document.createElement("div")
                svd_containerDiv.classList.add('fadeIn')
                svd_containerDiv.classList.add('svdResultsContainer')
                svd_containerDiv.classList.add('industryRsltContainer')
                svd_containerDiv.style = '--color:#0a66c2'

                document.getElementById("answer-box").appendChild(svd_containerDiv)
                let SVD_results_title = document.createElement("div")
                SVD_results_title.classList.add('SVD_results_title')
                SVD_results_title.innerHTML = 'SVD Company Results'
                svd_containerDiv.appendChild(SVD_results_title)

                for (let svdResult of svdDataList) {
                    // console.log("HERE IS SVD RESULT", svdDataList);
                    let svd_result_div = document.createElement("div")
                    svd_result_div.classList.add('svdResult')
                    svd_result_div.innerHTML = `
                                <div class="title"> ${svdResult[0]} </div>
                                <div class="industry">Industry: ${svdResult[1]}</div>
                                <div class="descr">${svdResult[2]}</div>`
                    svd_containerDiv.appendChild(svd_result_div)
                    // industryTitleContainer.innerHTML = '<div class="industryPathTitle">SVD Matched Company</div>' + 
                    // document.getElementById(industry).appendChild(industryTitleContainer)


                }
            }
            const uniqueIndustries = new Set();
            industryColors = [1, 2, 3, 4]
            let prevColor = ''
            let industryColorsShuffled = shuffleArray(industryColors)
            let industry_list = data[0]
            let descrips = data[1]
            let industry_reviews = data[2]
            let svdDataList = data[3]

            insertSVDResults();

            for (let industry of industry_list) {

                let col = `var(--col_${industryColorsShuffled[industry_list.indexOf(industry) % 4]})`;

                prevColor = col;
                industryColors.push({ industry: industry, industryNum: industryColors.length + 1, color: col })
                uniqueIndustries.add(industry)

                //Generating the resp industry container div
                let containerDiv = document.createElement("div")
                containerDiv.classList.add('fadeIn')
                containerDiv.classList.add('industryRsltContainer')
                containerDiv.id = industry

                containerDiv.style = '--color:' + col
                document.getElementById("answer-box").appendChild(containerDiv)

                //Generating the industry title section
                let industryTitleContainer = document.createElement("div")
                industryTitleContainer.classList.add('industryTitle')
                industryTitleContainer.innerHTML = '<div class="industryPathTitle">Matched Industry Path: </div>' + industry
                document.getElementById(industry).appendChild(industryTitleContainer)

                for (let companyName in descrips) {
                    let companyDescripSet = descrips[companyName];
                    let company_industry = companyDescripSet[0];
                    // console.log("HERE IS COMPANY NAME", companyName, company_industry, industry)

                    if (company_industry == industry) {
                        let tempDiv = document.createElement("div")
                        tempDiv.classList.add('fadeIn')
                        tempDiv.classList.add('indvRsltContainer')
                        // console.log("MATCH!", companyName)
                        let company_description = companyDescripSet[1]
                        let company_review = companyDescripSet[2]
                        tempDiv.innerHTML = answerBoxTemplate(companyName, company_industry, company_description, company_review ? companyReview : 'No Reviews :(')
                        document.getElementById(company_industry).appendChild(tempDiv)
                    }
                }

                // display 3 reviews per industry
                let industryReviewsDiv = document.createElement("div");
                industryReviewsDiv.classList.add('reviews');
                industryReviewsDiv.classList.add('fadeIn')

                industryReviewsDiv.innerHTML = `<h3 class="industry_reviews_header">Industry Reviews</h3>`;

                let reviews = industry_reviews[industry];
                console.log(reviews);
                if (reviews && reviews.length > 0) {
                    reviews.forEach(review => {
                        let reviewDiv = document.createElement("div");
                        reviewDiv.classList.add('review');
                        let companyName = review[0];
                        let reviewHeadlines = review[1].split(/, (?=[A-Z])/);

                        let reviewHtml = `<p class="companyTitle"><strong>${companyName}:</strong></p>`;

                        reviewHeadlines.forEach(headline => {
                            reviewHtml += `<li class="reviewLine">${headline}</li>`;
                        });

                        reviewDiv.innerHTML = reviewHtml;

                        industryReviewsDiv.appendChild(reviewDiv);
                    });
                } else {
                    let noReviewsDiv = document.createElement("div");
                    industryReviewsDiv.classList.add('noReviews')
                    noReviewsDiv.classList.add('no-reviews');
                    noReviewsDiv.innerHTML = `<p>No reviews available for this industry.</p>`;
                    industryReviewsDiv.appendChild(noReviewsDiv);
                }
                containerDiv.appendChild(industryReviewsDiv);

                if (!data || data.length == 0) {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = 'No Results Found'
                    document.getElementById("answer-box").appendChild(tempDiv)
                }
                document.getElementById("answer-box").scrollIntoView({ behavior: "smooth" })
                document.getElementById('searchButton').innerHTML = 'Search'
            }

        }

        function searchPaths() {
            try {
                document.getElementById("answer-box").innerHTML = ""
                document.getElementById('searchButton').innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="loadingSpinner"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/></svg>`
                fetch("/searchPaths?" + new URLSearchParams({ personalSkills: formFieldValues.personalSkills, personalValues: formFieldValues.personalValues }).toString())
                    .then((response) => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then((data) => {
                        console.log(data);
                        // Proceed with processing the data
                        setupResultsDisplay(data)
                    })
                    .catch((error) => {
                        console.error('Error during fetch:', error);
                        // Handle any network errors or server-side errors here
                        // For example, you can display an error message to the user
                        console.error("ERROR TRYING TO FIND RESPONSE", error);
                        document.getElementById('searchButton').innerHTML = 'Search'
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = 'No Results Found'
                        document.getElementById("answer-box").appendChild(tempDiv)
                        throw new Error(data.error)
                    });



            } catch (e) {
                console.error("ERROR TRYING TO FIND RESPONSE");
                document.getElementById('searchButton').innerHTML = 'Search'
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = 'No Results Found'
                document.getElementById("answer-box").appendChild(tempDiv)
            }

        }

        // Function to check fields and filter text
        function checkAndSearch() {
            if (checkAndPopulateFields()) {
                searchPaths();
            } else {
                // Handle case where fields are not filled
                console.log("Please fill out all fields before searching.");
            }
        }

        function focusInput(inputToFocus) {
            // console.log("FOCUSED")
            document.getElementById(inputToFocus).focus();
        }

        /**
         * Adds functionality of when the user hits enter that it's same as pressing the search btn
         */
        function enterSearchHandler() {
            document.addEventListener('keyup', (event) => {
                if (event.key === 'Enter' || event.keyCode === 13) {
                    // Enter key was pressed
                    checkAndSearch();
                    // Call your function or perform an action here
                }
            });
        }

        // Add click event listener to the search button
        document.getElementById("searchButton").addEventListener("click", checkAndSearch);


        // Use anonymous function to delay execution of focusInput
        document.getElementById("personalValues_inputBox").addEventListener("click", function () {
            focusInput('personalValues');
        });

        document.getElementById("personalSkills_inputBox").addEventListener("click", function () {
            focusInput('personalSkills');
        });

        enterSearchHandler();





    </script>
</body>